@import 'base/reset.scss';
@import 'abstracts/variables.scss';
@import 'abstracts/mixins.scss';
@import 'abstracts/utilities.scss';
@import 'base/typography.scss';
@import 'layout/layout.scss';
@import 'themes/dark.scss';
@import 'navigation.scss';

body {
  // background-color: $primary-black;
  background-color: black;
  color: $primary-font-color;
  font-family: $font-main;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 200%;
  @include screen-m {
    font-size: 17px;
  }
  @include screen-l {
    font-size: 18px;
  }
}

a {
  color: $primary-font-color;
}
