<div class="container-l">

  <app-nav></app-nav>

  <div class="margin-top-l">

    <div class="" >

      <div>
        <h1>Toekomstige meetings</h1>
        <a  routerLink="/meeting/{{ meeting.id }}"
            routerLinkActive="active"
            *ngFor="let meeting of pastMeetings"
            class="">

          <div class="margin-m">
            <div *ngIf="meeting.image" class="">
              <img  src="http://localhost:1337{{ meeting.image.url }}"
                    alt=""
                    height="100"/>
            </div>
            <div class="">
              <h3 *ngIf="meeting.name">
                {{ meeting.name }}
              </h3>
              <!-- <p class="">
                {{ meeting.description }}
              </p> -->
              <p class="">
                {{ meeting.date | date: 'dd/MM/yyyy' }}
              </p>
              <p class="">
                {{ meeting.speaker }}
              </p>
              <p class="">
                {{ meeting.location }}
              </p>

            </div>
          </div>

        </a>
      </div>

      <div class="margin-top-l">
        <h1>Vorige meetings</h1>
        <a  routerLink="/meeting/{{ meeting.id }}"
            routerLinkActive="active"
            *ngFor="let meeting of futureMeetings"
            class="">

          <div class="margin-m">
            <div *ngIf="meeting.image" class="">
              <img  src="http://localhost:1337{{ meeting.image.url }}"
                    alt=""
                    height="100"/>
            </div>
            <div class="">
              <h3 *ngIf="meeting.name">
                {{ meeting.name }}
              </h3>
              <!-- <p class="">
                {{ meeting.description }}
              </p> -->
              <p class="">
                Datum: {{ meeting.date | date: 'dd/MM/yyyy hh' }}
              </p>
              <p class="">
                Spreker: {{ meeting.speaker }}
              </p>
              <p class="">
                Locatie: {{ meeting.location }}
              </p>

            </div>
          </div>

        </a>
      </div>

    </div>

    
  </div>
</div>
