// COLORS
$primary-font-color: #FFF3E0;
$primary: #f09103;
$primary-light: #FFA41C;
$secondary: #005DA3;
$secondary-light: #028AF0;

$primary-black: #080808;
$primary-white: #FAFAFA;
$background-color: #F5F5F5;

$label: rgb(158, 158, 158);
$error: #FF3333;


// BREAKPOINTS
$breakpoints: (
  'tiny': (min-width: 480px),
  'small': (min-width: 640px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
  'huge': (min-width: 1200px),
);


// SPACINGS
$spacing-s: 10px;
$spacing-m: 25px;
$spacing-l: 50px;
$spacing-xl: 100px;


// FONTS
$font-main: 'Amatic SC', sans-serif;

$text-main: 16px/24px $font-main;
