<div class="uk-section">
  <div class="uk-container uk-container-large">
    <h1>Meetings</h1>

    <div class="uk-child-width-1-2" uk-grid>

      <div>
        <h2>Toekomstige</h2>
        <a  routerLink="/meeting/{{ meeting.id }}"
            routerLinkActive="active"
            *ngFor="let meeting of pastMeetings"
            class="uk-link-reset">

          <div class="uk-card uk-card-muted">
            <div *ngIf="meeting.image" class="uk-card-media-top">
              <img  src="http://localhost:1337{{ meeting.image.url }}"
                    alt=""
                    height="100"/>
            </div>
            <div class="uk-card-body">
              <h3 *ngIf="meeting.name">
                {{ meeting.name }}
              </h3>
              <!-- <p class="uk-text-large">
                {{ meeting.description }}
              </p> -->
              <p class="uk-text-large">
                {{ meeting.date | date: 'dd/MM/yyyy' }}
              </p>
              <p class="uk-text-large">
                {{ meeting.speaker }}
              </p>
              <p class="uk-text-large">
                {{ meeting.location }}
              </p>

            </div>
          </div>

        </a>
      </div>

      <div>
        <h2>Vorige</h2>
        <a  routerLink="/meeting/{{ meeting.id }}"
            routerLinkActive="active"
            *ngFor="let meeting of futureMeetings"
            class="uk-link-reset">

          <div class="uk-card uk-card-muted">
            <div *ngIf="meeting.image" class="uk-card-media-top">
              <img  src="http://localhost:1337{{ meeting.image.url }}"
                    alt=""
                    height="100"/>
            </div>
            <div class="uk-card-body">
              <h3 *ngIf="meeting.name">
                {{ meeting.name }}
              </h3>
              <!-- <p class="uk-text-large">
                {{ meeting.description }}
              </p> -->
              <p class="uk-text-large">
                Datum: {{ meeting.date | date: 'dd/MM/yyyy hh' }}
              </p>
              <p class="uk-text-large">
                Spreker: {{ meeting.speaker }}
              </p>
              <p class="uk-text-large">
                Locatie: {{ meeting.location }}
              </p>

            </div>
          </div>

        </a>
      </div>

    </div>

    
  </div>
</div>
