<nav class="flex justify-between">

  <div>
    <ul class="flex">
      <li class="">
        <a routerLink="/"
           class="padding-top-s padding-right-s padding-bottom-s margin-right-s">
          home
        </a>
      </li>
      <li>
        <a routerLink="/meetings" class="padding-s margin-right-s">
          meetings
        </a>
      </li>

      <ng-container *ngIf="data">
        <select name="city" class="" (change)="onCitySelect($event.target.value)">
          <option>locaties</option>
          <option *ngFor="let city of data.cities"  [value]="city.name">
            {{city.name}}
          </option>
        </select>
        <!-- <li *ngFor="let city of data.cities" class="">
          <a  routerLink="/city/{{ city.id }}"
              class="padding-s margin-right-s">
            {{ city.name }}
          </a>
        </li> -->
      </ng-container>

      <li>
        <a routerLink="/" href="" class="padding-s">
          contact
        </a>
      </li>
    </ul>
  </div>

</nav>
