<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">'t Vrije Brein</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul *ngIf="data" class="uk-navbar-nav">
      <li *ngFor="let city of data.cities" class="uk-active">
        <a
          routerLink="/city/{{ city.id }}"
          routerLinkActive="active"
          class="uk-link-reset"
        >
          {{ city.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>
