<nav class="flex justify-between">

  <div>
    <ul class="flex">
      <li>
        <a routerLink="/"
           class="padding-top-s padding-right-s padding-bottom-s margin-right-s">
          home
        </a>
      </li>
      <li>
        <a routerLink="/meetings" class="padding-s margin-right-s">
          meetings
        </a>
      </li>

      <ng-container *ngIf="cities">
        <select name="city" (change)="onCitySelect($event.target.value)">
          <option>locaties</option>
          <option *ngFor="let city of cities"  [value]="city.id">
            {{city.name}}
          </option>
        </select>
      </ng-container>

      <li>
        <a routerLink="/" href="" class="padding-s">
          contact
        </a>
      </li>
    </ul>
  </div>

</nav>
