@import 'src/app/styles/abstracts/variables.scss';

select {
  background-color: black;
  color: white;
  font-family: $font-main;
  border: none;
  font-size: 150%;
  outline: none;
  min-width: 100px;
  option {
    font-size: 66%;
  }
}
