@import 'src/app/styles/abstracts/variables.scss';

.video-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

header {
  height: calc(100vw / 2);
  width: 100%;
}

.map-flanders {
  background-image: url('../../assets/img/vlaanderen.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}

.map-city {
  background-image: url('../../assets/img/kaars_inactief.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 75px;
  position: absolute;
  &:hover {
    background-image: url('../../assets/img/kaars_actief.png');
  }
}
.antwerp {
  bottom: -7%;
  left: 55%;
}
.mechelen {
  left: 51%;
  bottom: -10%;
}
