<header>
  <div class="height-full flex column justify-between">

    <div>
      <h1 class="text-center white padding-top-l">
        't vrije brein
      </h1>
      <h3 class="text-center white margin-top-m">Discussie avonden bij kaarslicht om te inspireren en motiveren</h3>
    </div>

    <nav class="flex justify-center margin-bottom-m">
      <ul class="flex white justify-between">
        <li><a routerLink="/" class="padding-m">home</a></li>
        <li><a routerLink="/meetings" class="padding-m">meetings</a></li>
        <li><a routerLink="/" href="" class="padding-m">contact</a></li>
      </ul>
    </nav>

  </div>
</header>

<section class="">
  <div class="">
        
    <h2 class="margin-bottom-l">
      ‘t Vrije Brein reikt inzichten aan voor iedereen die zich grote en kleine vragen stelt.
    </h2>

    <p class="">
      We hebben ze namelijk allemaal. Vragen over onze relaties, ons werk, de maatschappij waar we in leven en wie we zijn. Op deze vragen zijn er geen simpele antwoorden, enkel visies, ideeën en verhalen. Die kunnen ons helpen om ons perspectief op de wereld en op onszelf te verbreden. 
      Dit is wat ’t Vrije Brein wil doen. Inzichten in ons mens-zijn en de wereld aanreiken die uitdagen, inspireren en motiveren. In een ontspannen sfeer bij kaarslicht dompelen we ons onder in onderwerpen zoals werk, geluk, democratie en meer. 
      We benaderen deze onderwerpen vanuit verschillende perspectieven en gaan hier diep op in, in een reeks van meerdere lezingen. Lezingen worden aangevuld met open discussie en de kans om eigen reflecties te delen.
    </p>

    <h3 class="margin-top-m">
      jij denkt zelf wij willen geen ideeën opleggen, maar theoretische en praktische denkkaders aanbieden die geestverruimend werken
    </h3>

  </div>
</section>

<section class="">
  <div class="map-flanders">
    <a href="pages/cities/antwerp.html">
      <div class="map-city antwerp"></div>
    </a>
    <a href="pages/cities/mechelen.html">
      <div class="map-city mechelen"></div>
    </a>
  </div>
</section>
