
<div class="uk-section">
  <div class="uk-container uk-container-large">
        
    <!-- <h1>Welkom</h1> -->
    <h2>‘t Vrije Brein reikt inzichten aan voor iedereen die zich grote en kleine vragen stelt.</h2>

    <p class="uk-text-large">
      We hebben ze namelijk allemaal. Vragen over onze relaties, ons werk, de maatschappij waar we in leven en wie we zijn. Op deze vragen zijn er geen simpele antwoorden, enkel visies, ideeën en verhalen. Die kunnen ons helpen om ons perspectief op de wereld en op onszelf te verbreden. 
      Dit is wat ’t Vrije Brein wil doen. Inzichten in ons mens-zijn en de wereld aanreiken die uitdagen, inspireren en motiveren. In een ontspannen sfeer bij kaarslicht dompelen we ons onder in onderwerpen zoals werk, geluk, democratie en meer. 
      We benaderen deze onderwerpen vanuit verschillende perspectieven en gaan hier diep op in, in een reeks van meerdere lezingen. Lezingen worden aangevuld met open discussie en de kans om eigen reflecties te delen.
    </p>

    <h3>
      jij denkt zelf wij willen geen ideeën opleggen, maar theoretische en praktische denkkaders aanbieden die geestverruimend werken
    </h3>

    <h1   routerLink="/meetings"
          class="uk-link-reset pointer">
        Meetings
    </h1>

  </div>
</div>