@import url('https://fonts.googleapis.com/css?family=Pangolin|Amatic+SC:wght@700');
@import 'abstracts/variables.scss';

.white { color: $primary-white; }
.text-center { text-align: center; }

h1 {
  font-family: $font-main;
  font-size: 3rem;
  line-height: 150%;
  @include screen-m { font-size: 4rem; }
}
h2 {
  font-family: $font-main;
  font-size: 1.75rem;
  line-height: 150%;
  @include screen-m { font-size: 2.5rem; }
}
h3 {
  font-family: $font-sub;
  font-size: 1.5rem;
  line-height: 150%;
  @include screen-m { font-size: 2rem; }
}
p {
  font-family: $font-sub;
}
a {
  color: white !important;
  text-decoration: none;
  font-size: 150%;
}

// FONT SIZES
@for $i from 1 through 48 {
  @if ($i) % 2 == 0 {
    .font-#{$i} { font-size: $i * 1px; }
  }
}
